# Visual Studio Code
.vscode/

# JetBrains
.idea/

# Composer
/vendor/
composer.lock

# Node
node_modules/
package-lock.json

# Webpack
stats.json

# Distribution Directory
**/wwwroot/dist/

# Environments
.env

# WordPress
wp/
wp-content/*
!wp-content/themes/

wp-content/themes/*
!wp-content/themes/r9-understrap-child
