@import 'abstracts/abstracts';

.navbar {
    transition: $navbar-transition;
}

.navbar-light {
    height: 100px;
    background-color: $white;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
}

.navbar-dark {
    height: 155px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
}
